In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [36]:
test_data = pd.read_json("../data/imdb_sentiment_test.jsonl", lines=True)
dan_preds = pd.read_csv(
    "../serialization_dirs/probing_sentiment_dan_with_emb_on_5k_at_layer_4/"
    "predictions_imdb_sentiment_5k_test.txt", header=None, names=["dan"]
)
gru_preds = pd.read_csv(
    "../serialization_dirs/probing_sentiment_gru_with_emb_on_5k_at_layer_4/"
    "predictions_imdb_sentiment_5k_test.txt", header=None, names=["gru"]
)

In [38]:
(test_data.merge(dan_preds, left_index=True, right_index=True)
          .merge(gru_preds, left_index=True, right_index=True))

                                                   text  label  dan  gru
0     Atlantis is probally the best Disney movie tha...      1    1    1
1     There's an inexhaustible hunger for "basic tra...      1    1    1
2     This is a good movie, although people unfamili...      1    1    1
3     This was probably the worst movie ever, seriou...      0    0    0
4     Curiosity led me to this "masterpiece". Unfort...      0    0    0
...                                                 ...    ...  ...  ...
2995  When his in-laws are viciously murdered by a g...      0    0    0
2996  This movie is terrible. Carlitos Way(1993) is ...      0    0    0
2997  I caught this on Showtime tonight and was amaz...      0    0    0
2998  This is listed as a documentary, it's not, it'...      0    0    0
2999  The title should have been "The walker". That ...      0    0    0

[3000 rows x 4 columns]

In [40]:
df = pd.concat([test_data, dan_preds, gru_preds], axis=1)

In [51]:
df.query("gru == label and dan != label")

                                                   text  label  dan  gru
93    Ulises is a literature teacher that arrives to...      0    1    0
96    A high school principal (Keenan Wynn) with a l...      0    1    0
129   Very rarely does one come across an indie come...      1    0    1
135   I borrowed this movie because not only because...      0    1    0
143   With this topic, it is so easy to take cheap s...      1    0    1
...                                                 ...    ...  ...  ...
2909  Whoever thought that ANOTHER Home Alone film w...      0    1    0
2913  Mina Kumari exhibits more style and grace just...      1    0    1
2948  Fido is a cute comedy that deserves wider reco...      1    0    1
2955  Despite the excellent cast, this is an unremar...      0    1    0
2983  The French Naudet brothers did something nobod...      1    0    1

[142 rows x 4 columns]

In [54]:
df.query("dan == label and gru != label")

                                                   text  label  dan  gru
9     One of those, "Why was this made?" movies. The...      0    0    1
13    Sorry, I don't have much time to write. I am n...      1    1    0
18    One wonders how the script came to be written....      0    0    1
21    The Egyptian Movies has A Lot Of Filmes With H...      0    0    1
33    This movie proves that you can't judge a movie...      0    0    1
...                                                 ...    ...  ...  ...
2933  I thought that this film was very enjoyable. I...      1    1    0
2947  Witty and disgusting. Brash and intelligent. B...      1    1    0
2965  This version is pretty insipid, I'm afraid. Ja...      0    0    1
2967  Jack Frost is about a serial killer who is sen...      1    1    0
2994  Clint Eastwood returns as Dirty Harry Calahan ...      1    1    0

[218 rows x 4 columns]

In [58]:
df.loc[33].text

"This movie proves that you can't judge a movie by the awesome artwork on the DVD cover. It also goes to show that you should learn more about a movie before you buy it (or get it for someone at Christmas). The beginning of this movie actually looks somewhat promising. Well, until you meet the characters. Pumpkin Jack (the old guy from down the street) brings the college co-eds a book full of witch's spells that he leaves at their annual haunted house (where the movie takes place). After that there is some drinking, fighting, and soft core porn. Then the action of the movie finally takes place after over an hour.<br /><br />Overall, Hallow's End was predictable, unsuspensful, and reminiscent of a soft-core porn. This movie is probably best viewed with a group of friends who have nothing better to do, as it is a good movie to make fun of. And for first-time viewers, it is really fun making predictions of the order of people who die."

In [62]:
df.query("dan == label and gru != label").text.apply(len).mean()

727.0321100917431

In [63]:
df.query("gru == label and dan != label").text.apply(len).mean()

686.7676056338029

In [64]:
df.text.apply(len).mean()

694.133

In [67]:
df.text.apply(lambda s: len(s.split())).mean()

124.477

In [69]:
df.query("dan == label and gru != label").text.apply(lambda s: len(s.split())).mean()

128.848623853211

In [70]:
df.query("gru == label and dan != label").text.apply(lambda s: len(s.split())).mean()

121.87323943661971